.vt323-regular {
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
}

:root {
    --regular-size: 2rem;
    --large-size: 3rem;

    --header: #b15052;
    --primary-font: #722b47;
    --secondary-font: #D06257;
    --panel-and-button: #923E4D;
    --background: #34073D;
    --footer: #531942;
    --board: #EF745C;
    --primary-font: #722b47;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "VT323";
    font-size: var(--regular-size);

    letter-spacing: .1rem;
    line-height: 1.5;

    -webkit-font-smoothing: antialiased;
}

#game-container {
    background-color: var(--background);

    height: 100vh;
    width: 100vw;

    display: grid;
    grid-template-rows: 100px 1fr 100px;
}

#header {
    background-color: var(--header);

    color: var(--primary-font);
    font-size: var(--large-size);
    text-align: center;
    padding: 25px;
}

#content {
    display: flex;
    margin: 0px auto;
    width: 100vw;

    overflow: auto;
    scrollbar-color: var(--primary-font) var(--header);
}

.player-info {
    background-color: var(--panel-and-button);
    color: var(--secondary-font);

    padding: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;

    box-shadow: inset 0px 0px 30px 0px rgba(52, 7, 61, 0.5);
}

.name-container,
.score-container {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
}

.name-output {
    border-radius: 10em;
    border: none;
    padding: 10px;
    background-color: var(--footer);
    font: inherit;
    color: var(--secondary-font);
    text-align: center;
    box-shadow: 0px 0px 10px 0px rgba(52, 7, 61, 0.5);
}

.name-output::placeholder {
    color: var(--background);
    /* opacity: 50%; */
}

.name-output:active {
    outline: none;
}

button,
svg {
    background-color: var(--panel-and-button);
    color: var(--secondary-font);
}

button.edit {
    width: 20px;
    border: none;
    fill: var(--secondary-font);
}

button.edit:active {
    fill: var(--primary-font);
}

#board {
    margin: auto;
    padding: 50px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);

    gap: 10px;
    row-gap: 10px;
}

#board>button {
    border: none;
    font: inherit;

    height: 100px;
    width: 100px;
}

#board>button:active {
    background-color: var(--footer);
}

#footer {
    background-color: var(--footer);
    text-align: center;
    justify-items: center;

    padding: 25px;
}

#footer>button {
    font: inherit;

    border: none;
    border-radius: 10em;
    box-shadow: 0px 0px 15px 5px rgba(52, 7, 61, 0.5);

    width: 200px;
    height: 50px;
}

#footer>button:active {
    background-color: var(--background);
}