.vt323-regular {
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
}

:root {
    --dark-peach: #923E4D;
    --peach: #b15052;
    --light-peach: #D06257;

    --dark-purple: #34073D;
    --purple: #531942;
    --light-purple: #722b47;

    --regular-size: calc(24px + 1vw);
    --large-size: calc(32px + 1vw);

    --padding: 10%;
}

* {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}

body {
    background-color: var(--dark-purple);

    font-family: "VT323";
    font-size: var(--regular-size);

    letter-spacing: .1rem;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;

    height: 100vh;
    width: 100vw;

    display: grid;
    grid-template-rows: 150px 1fr 150px;
}

/**
 ** Header 
 **/
header {
    background-color: var(--peach);

    font-size: var(--large-size);
    font-weight: bolder;
    color: var(--light-purple);

    display: flex;
    justify-content: space-around;
    align-items: center;
}

/**
 ** Main 
 **/
main {
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 30%));
    justify-content: center;
}

/* Player Info panels & Edit button */
.player-info {
    background-color: var(--dark-peach);

    color: var(--light-peach);

    overflow: auto;

    /* Same color as --dark-purple, but at 75% opacity */
    box-shadow: inset 0px 0px 30px 0px rgba(52, 7, 61, 0.75);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: var(--padding);
    gap: calc(var(--padding)/2);
}

.player-info>.symbol {
    background: none;
    fill: var(--dark-purple);

    width: 50%;
    height: 50%;
}

.player-info>button.edit {
    background: none;
    fill: var(--peach);

    border: none;
    width: 50px;

    align-self: flex-end;
    margin: auto 0px 0px;
}

.player-info>button.edit:active {
    fill: var(--light-purple);
}

.player-info>.player_x.announcement,
.player-info>.player_o.announcement {
    display: none;
}

.player-info>.player_x.name>span,
.player-info>.player_o.name>span {
    overflow-wrap: anywhere;
}

/* Gameboard panel */
.gameboard {
    background-color: var(--dark-purple);
    color: var(--peach);
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: calc(var(--padding)/2);
    gap: calc(var(--padding)/2);
}

.gameboard .square-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: calc(var(--padding)/2);
    row-gap: calc(var(--padding)/2);
}

.square-container>.square {
    background-color: var(--peach);

    color: var(--dark-purple);
    font-size: var(--large-size);

    border: none;

    width: calc(50px + 3vw);
    height: calc(50px + 3vw);
}

.square-container>.square:active {
    background-color: var(--purple);
}

dialog {
    background-color: var(--light-peach);

    color: var(--light-purple);
    font: inherit;
    text-align: center;

    padding: var(--padding);
    margin: auto;

    border: none;
}

dialog::backdrop {
    backdrop-filter: blur(5px);
}

dialog>form {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 5%;
}

dialog button {
    background-color: var(--dark-peach);

    color: var(--light-peach);
    font: inherit;

    border: none;
    /* Same color as --dark-purple, but at 75% opacity */
    box-shadow: 0px 0px 15px 5px rgba(52, 7, 61, 0.75);

    width: 25%;
    height: 50%;
}

dialog button:active {
    background-color: var(--dark-purple);
    outline: none;
}

.get-name input {
    background-color: var(--dark-purple);
    font: inherit;
    color: var(--light-peach);

    border: none;
    outline: none;

    margin: var(--padding);
    padding: calc(var(--padding)/2);
}

/**
 ** Footer 
 **/
footer {
    background-color: var(--purple);

    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer>button {
    background-color: var(--dark-peach);

    color: var(--light-peach);
    font: inherit;

    border: none;
    /* Same color as --dark-purple, but at 75% opacity */
    box-shadow: 0px 0px 15px 5px rgba(52, 7, 61, 0.75);

    width: 25%;
    height: 50%;
}

footer>button:active {
    background-color: var(--dark-purple);
}